// Nuetrals
$white: #fff;
$black: #000;
$transparent: rgba(0, 0, 0, 0);
$overlay: rgba(0, 0, 0, .3);

// Palette
$dark-purple:  #2f1b41;
$red-wine:     #872341;
$red-medium:   #be3144;
$red-bright:   #f05941;
