@import 'colors';

.nav-wrapper {
  position: fixed;
  width: 100%;
}

.nav-bar {
  align-items: center;
  background-color: $transparent;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: 0;
  position: relative;
  transition: .5s ease-in;

  h1 {
    font-size: 28px;
    height: 52px;
    margin: 0;
    padding: 18px 30px 0;
    text-align: left;
  }

  a {
    text-decoration: none;
  }

  &.nav-bg {
    background-color: $dark-purple;
    box-shadow: 0 2px 5px 0 $overlay;
  }
}

@media (max-width: 768px) {
  .nav-bar h1 {
    display: none;
  }
}

// DESKTOP MENU
.desktop-menu {
  text-align: right;

  ul {
    margin: 0 12px;

    li {
      display: inline-block;
      list-style: none;
      padding: 22px 15px;
    }
  }

  a {
    color: $white;
    font-size: 16px;
    transition: .3s ease-in;

    &:hover {
      color: $red-medium;
    }
  }
}

// BURGER MENU

// Position and sizing of burger button
.bm-burger-button {
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 36px;
}

// Color/shape of burger icon bars
.bm-burger-bars {
  background: $white;
  transition: .5s ease-in;
}

// Position and sizing of clickable cross button
.bm-cross-button {
  height: 24px;
  width: 24px;
}

// Color of close button cross
.bm-cross {
  background: $dark-purple;
}

// General sidebar styles
.burger-wrap {
  align-self: flex-start;
}

.bm-menu {
  background: $white;
  font-size: 1.15em;
  padding-top: 2.7em;

  a {
    color: $red-medium;
    padding: 20px 0;

    &:hover {
      color: darken($red-medium, 10%);
    }
  }
}

// Styling of overlay
.bm-overlay {
  background-color: $overlay;
}
