@import 'colors';

h1 {
  font-size: 52px;
  margin: 20px 0 10px;
  text-align: center;
}

hr {
  border: 0;
  border-bottom: 1px solid $red-bright;
  border-top: 1px solid $red-bright;
  height: 2px;
  max-width: 200px;
}

.skill-container {
  background-color: $lt-gray;
}

.skill-intro {
  margin: 50px;
  text-align: center;
}

.icon-row-wrap {
  padding-bottom: 40px;
}

.skill-wrap {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
  text-align: center;
}

.icon-wrap {
  width: 100px;
}

.icon {
  display: block;
  font-size: 4.5em;
  margin: 0 auto 10px;

  &:hover {
    color: $red-wine;
  }
}

span {
  font-size: 18px;
}
